<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BlockMe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>PressMe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Sharesies.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>W8D1-iOSExtensions.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>124845991C1560BB001F4B39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>124845B21C1563DF001F4B39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>124845C51C15641E001F4B39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>124845DA1C15642B001F4B39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
